# fly.toml app configuration file for CatalogForge
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'catalogforge'
primary_region = 'iad'

[build]

[deploy]
  release_command = 'npm run setup'

[env]
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
